<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div class="registration-body">
        <form action="/login" method="POST">
            <h2>Login</h2>
            <input 
                class="input"
                type="text" 
                name="username" 
                id="username"
                placeholder="Type in username"
            />
            <div class="line-box"><div class="line"></div></div>
            <input 
                class="input"
                type="password"
                name="password"
                id="password"
                placeholder="Type in password"
            />
            <div class="line-box"><div class="line"></div></div>
            <button class="button" type="submit">Sign in</button>
            <br>
            <a href="/register">Create an account!</a>
        </form>
    </div>
    
</body>
</html>