
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
        <form action="/register">
            <h2>Login</h2>
            <input 
                class="input"
                type="text" 
                name="userName" 
                id="userName"
                placeholder="Type in username"
            />
            <div class="line-box"><div class="line"></div></div>
            <input 
                class="input"
                type="password"
                name="password"
                id="password"
                placeholder="Type in password"
            />
            <div class="line-box"><div class="line"></div></div>
            <button class="button" type="submit">Sign in</button>
            <br>
            <a href="/register">Create an account!</a>
        </form>
    <script>
        const form = document.querySelector("form")
         form.addEventListener("submit", async (e) => {
            e.preventDefault()
        
            const userName = form.userName.value
            const password = form.password.value
            try {
                const res = await fetch("/login", {
                    method: "POST",
                    body: JSON.stringify({userName, password}),
                    headers: {"Content-Type": "application/json"}
                })
                const data = await res.json()
                console.log(data)
                if (data.user) {
                    location.assign("/")
                }
            } catch (err) {
                console.log(err)
            }
        })

    </script>
</body>
</html>