<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form action="/register" method="POST">
            <input 
                type="text" 
                name="firstName" 
                id="firstName"
                placeholder="Enter firstname"
            />
            <input 
                type="text" 
                name="lastName" 
                id="lastName"
                placeholder="Enter lastname"
            />
            <input 
                type="text" 
                name="userName" 
                id="userName"
                placeholder="Choose a username"
            />
            <input 
                type="password"
                name="password"
                id="password"
                placeholder="Choose a password"
            />
            <button>Register</button>
        </form>
    </div>
</body>
</html>